[submodule "assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "tinyxml2"]
	path = 3rdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	branch = master
[submodule "libsndfile"]
	path = 3rdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
	branch = master
[submodule "openal-soft"]
	path = 3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
	branch = master
[submodule "sol2"]
	path = 3rdparty/sol2
	url = https://github.com/ThePhD/sol2.git
	branch = master
[submodule "glew"]
	path = 3rdparty/glew
	url = https://github.com/nigels-com/glew.git
